<footer id="footer" class="text-center navbar-static-bottom">
    <div>&copy; 72PX</div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<% if("undefined" != typeof jsGroup) { jsGroup.forEach(function(js, index){ %>
<script src="<%= js %>"></script>
<% }) } %>
</body>
</html>