<%- include header  %>
<div class="well jumbotron">
  <h1><%= title %></h1>
  <p>欢迎来到NODEJS的世界</p>
  <p><a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button">更多..</a> </p>
</div>

<%- include footer %>