<% include header  %>
<main id="login">
    <h1>72PX用户登录</h1>
    <form method="post">
        <div class="form-control">
            <label for="userName">账 号：</label>
            <input type="text" name="userName" placeholder="请输入正确的用户名" />
        </div>
        <div class="form-control">
            <label for="userPwd">密 码：</label>
            <input type="password" name="userPwd" />
        </div>
        <div class="form-control">
            <input type="submit" class="btn-primary btn-lg" value="登录" />
        </div>
    </form>
</main>
<% include footer %>
<script src="/js/login.js"></script>