<% include header  %>
<main id="login">
   <article  class="center-block">
       <h1>72PX消息通知</h1>
       <% if (success) { %>
       <div><%= success %></div>
       <% } %>
       <% if (error) { %>
       <div><%= error %> </div>
       <% } %>
   </article>
</main>
<% include footer %>