ul{padding: 0; margin: 0}
li{list-style: none;}
body{color: #333}
a{color: #aaa}

@media (min-width:768px) and (max-width: 1000px) {
    .smHidden{display: none}
}

/* -------------------------------------- 公共头部 ---------------------------------- */
#header{height: 60px; background-color: #000; position: relative; z-index: 2}
#headerNav{line-height: 60px;}
#headerNav a{color: #F4F4F4; font-size: 14px; text-align: center; display: inline-block; width: 80px; text-decoration: none}
#headerNav a:hover,#headerNav a.on{background-color: #F4F4F4; color: #000}
#logo{/*background: url("../images/logo.png") center center no-repeat;*/ width: 123px; height: 40px; margin: 10px 50px; color: #fff;font-size: 30px; display: block}

/* -------------------------------------- 72PX首页 ---------------------------------- */
#home{background-size:cover; background-position: center center; background-attachment: fixed; position: relative}

#homeIntro{background:url(../images/intro.png) no-repeat center center; width: 509px;  height: 134px;  }
#homeEnter{opacity:0.8;filter:alpha(opacity=80);}
#homeEnter a{background:url(../images/enter.png) no-repeat center center;}

#homeFooter{position:absolute; left:0; bottom:0; width:100%; height:95px; background-color:rgba(0,0,0,0.7);}
#homeDesc p{margin-top: 5px;}

#homeSns{position: relative}
#homeSns a{position: absolute; top: -5px;}
#homeSns a.sina{background:url(../images/sina.png) no-repeat center center; width: 95px; height: 90px;}
#homeSns a.wechat{background:url(../images/wechat.png) no-repeat center center; width: 95px; height: 90px; left: 120px;}



/* -------------------------------------- 约拍场景 ---------------------------------- */
#scenesTop{padding: 0; }
#scenesTopMain{position: relative}
#scenesTop .items li{ border-bottom: 1px solid #e3e3e3; padding: 10px 0; cursor: pointer }
#scenesTop .items li:hover,#scenesTop .items li.on{background-color: #f5f5f5;}
#scenesTop .items img{height: auto;  margin-top:15px; border: 1px solid #e3e3e3; padding: 2px}
#scenesTop .items .info{}
#scenesTop .items p{font-size: 12px;}

/* -------------------------------------- 摄影 ---------------------------------- */
#photographersTop{background-color: #F4F4F4}

#photographers header{line-height: 50px; height: 50px; background-color: #F4F4F4; padding-left: 50px;}
#photographersMain li{ border-bottom: 1px solid #EEEEEE; padding: 30px 0}
#photographersMain li:hover{background-color: #F4F4F4}

#photographersMain .avatar img{border-radius: 100px; }


#photographers form{margin: 50px auto;}
#photographers form label{width: 100px; margin-right: 20px;}
/* -------------------------------------- 模特 ---------------------------------- */
#modelsTop{background-color: #F4F4F4}

#models header{line-height: 50px; height: 50px; background-color: #F4F4F4; padding-left: 50px;}
#modelsMain li{ border-bottom: 1px solid #EEEEEE; padding: 30px 0}
#modelsMain li:hover{background-color: #F4F4F4}
#modelsMain .avatar img{border-radius: 100px; }


/* -------------------------------------- 搭配 ---------------------------------- */
#dressTop{background-color: #F4F4F4}

#collocations header{line-height: 50px; height: 50px; background-color: #F4F4F4; padding-left: 50px;}
#collocationsMain li{ border-bottom: 1px solid #EEEEEE; padding: 30px 0}
#collocationsMain li:hover{background-color: #F4F4F4}
#collocationsMain .avatar img{border-radius: 100px; }

/* -------------------------------------- 化妆 ---------------------------------- */
#prinksTop{background-color: #F4F4F4}

#prinks header{line-height: 50px; height: 50px; background-color: #F4F4F4; padding-left: 50px;}
#prinksMain li{ border-bottom: 1px solid #EEEEEE; padding: 30px 0}
#prinksMain li:hover{background-color: #F4F4F4}
#prinksMain .avatar img{border-radius: 100px; }



