<% include ../header  %>
<main id="works">
    <!----------------摄影排行榜 开始----------------------->
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-6">全部 > 102组作品</div>
            <div class="col-lg-6 text-right">
                <a href="/works/create">投稿</a>
            </div>
        </div>
    </header>
    <section id="worksMain">
        <div id="worksWaterfall"></div>
    </section>
    <!----------------摄影排行榜 结束----------------------->
</main>
<% include ../footer %>