<% include ../header  %>
<main id="works">
    <!----------------摄影排行榜 开始----------------------->
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-6">全部 > 102组作品</div>
            <div class="col-lg-6 text-right">
                <a href="/works/create">投稿</a>
            </div>
        </div>
    </header>
    <section id="worksMain" class="container-fluid items">
        <ul>
            <% works.forEach(function(work, index){ %>
            <li class="col-lg-3 col-sm-3">
                <a href="/works/detail/<%= work._id %>" class="show"><img src="<%= work.galleryIds[0].url %>" class="img-responsive" /></a>
            </li>
            <% }) %>
        </ul>
    </section>
    <!----------------摄影排行榜 结束----------------------->
</main>
<% include ../footer %>
<script src="/js/works.js"></script>